In [226]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import operator
from collections import Counter

In [18]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [79]:
# тут пишем ваш код для решения данного вопроса:
display(data[(data['budget'] == data['budget'].max())])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [30]:
# можно добавлять разные варианты решения
data.loc[(data['budget'] == data['budget'].max()),['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [32]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [33]:
data.loc[(data['runtime'] == data['runtime'].max()),['original_title','imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [36]:
display(data.loc[(data['runtime'] == data['runtime'].min()),['original_title','imdb_id']])
answers['3'] = 'Winnie the Pooh (tt1449283)'

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [41]:
display(round(data.mean()['runtime']))
answers['4'] = '110'

110.0

# 5. Каково медианное значение длительности фильмов?

In [43]:
display(round(data.median()['runtime']))
answers['5'] = '107'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [58]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.apply(lambda row: row['revenue'] - row['budget'],axis=1)
display(data[data.profit == data.profit.max()][['original_title', 'imdb_id']])
answers['6'] = 'Avatar (tt0499549)'

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [90]:
display(data[data.profit == data.profit.min()][['original_title', 'imdb_id']])
answers['7'] = 'The Lone Ranger (tt1210819)'

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [64]:
display(data[data.profit > 0]['imdb_id'].count())
answers['8'] = '1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [86]:
data2008 = data[(data['release_year'] == 2008)]
display(data2008[(data2008['revenue'] == data2008['revenue'].max())][['original_title','imdb_id']])
answers['9'] = 'The Dark Knight (tt0468569)'

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [92]:
data12_14 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
display(data12_14[(data12_14['profit'] == data12_14['profit'].min())][['original_title','imdb_id']])
answers['10'] = 'The Lone Ranger (tt1210819)'

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [131]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres = {}
for names in data['genres'].to_list():
    for genre in names.split('|'):
        if genre in genres:
            genres[genre] += 1
        else:
            genres[genre] = 1
max(genres.items(), key=operator.itemgetter(1))[0]

'Drama'

ВАРИАНТ 2

In [111]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [121]:
genres = {}
for names in data[(data['profit'] > 0)]['genres'].to_list():
    for genre in names.split('|'):
        if genre in genres:
            genres[genre] += 1
        else:
            genres[genre] = 1
max(genres.items(), key=operator.itemgetter(1))[0]
answers['12'] = 'Drama'
# вариант 2

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [164]:
director = {}
for dit_list in data[['director','revenue']].to_dict('records'):
    for genre in dit_list['director'].split('|'):
        if genre in director:
            director[genre] += dit_list['revenue']
        else:
            director[genre] = dit_list['revenue']
max(director.items(), key=operator.itemgetter(1))[0]

'Peter Jackson'

In [184]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [185]:
action_dir = {}
for names in data[data.genres.str.contains("Action")]['director'].to_list():
    for name in names.split('|'):
        if name in action_dir:
            action_dir[name] += 1
        else:
            action_dir[name] = 1
max(action_dir.items(), key=operator.itemgetter(1))[0]
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [189]:
actor = {}
for names in data[(data['release_year'] == 2012)][['cast','revenue']].to_dict('records'):
    for name in names['cast'].split('|'):
        if name in actor:
            actor[name] += names['revenue']
        else:
            actor[name] = names['revenue']
max(actor.items(), key=operator.itemgetter(1))[0]

#data_12 = data.query('release_year == 2012')
#cast = pd.Series(data_12['cast'].str.cat(sep='|').split('|'))
#cast = cast.value_counts(ascending=False)
#for actor in cast.index:
#    cast[actor] = data_12['revenue'][data_12['cast'].map(lambda x: True if actor in x else False)].sum()
#cast.sort_values(ascending=False)

answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [191]:
actor = {}
for names in data[data.budget > data.budget.mean()]['cast'].to_list():
    for name in names.split('|'):
        if name in actor:
            actor[name] += 1
        else:
            actor[name] = 1
max(actor.items(), key=operator.itemgetter(1))[0]
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [192]:
actor_genre = {}
for names in data[data.cast.str.contains("Nicolas Cage")]['genres'].to_list():
    for name in names.split('|'):
        if name in actor_genre:
            actor_genre[name] += 1
        else:
            actor_genre[name] = 1
max(actor_genre.items(), key=operator.itemgetter(1))[0]
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [203]:
data_param = data[data.production_companies.str.contains("Paramount Pictures")]
display(data_param[(data_param['profit'] == data_param['profit'].min())][['original_title','imdb_id']])
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [204]:
grouped_df = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(grouped_df.head(5))
answers['19'] = '2015'

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [206]:
data_wb = data[data.production_companies.str.contains("Warner Bros")]
grouped_df = data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
print(grouped_df.head(5))
answers['20'] = '2014'

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [225]:
# можно в int не конвертить
data['month'] = data.apply(lambda row: row['release_date'].split('/')[0],axis=1)
grouped_df = data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False)
# можно еще заморочитсья словарем со значеним месяца по номеру
display((grouped_df).head(5))

answers['21'] = 'Сентябрь'

month
9     227
12    190
10    186
8     161
3     156
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [238]:
data_summer = data[(data['month'] == '6') | (data['month'] == '7') | (data['month'] == '8')]
data_summer.info()
answers['22'] = '450'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               450 non-null    object
 1   budget                450 non-null    int64
 2   revenue               450 non-null    int64
 3   original_title        450 non-null    object
 4   cast                  450 non-null    object
 5   director              450 non-null    object
 6   tagline               450 non-null    object
 7   overview              450 non-null    object
 8   runtime               450 non-null    int64
 9   genres                450 non-null    object
 10  production_companies  450 non-null    object
 11  release_date          450 non-null    object
 12  vote_average          450 non-null    float64
 13  release_year          450 non-null    int64
 14  profit                450 non-null    int64
 15  month                 450 non-null    object
dtypes: float64(1), int64(5), object(10)
memory usage: 59.8+ KB

# 23. Для какого режиссера зима – самое продуктивное время года?

In [248]:
data_winter = data[(data['month'] == '12') | (data['month'] == '1') | (data['month'] == '2')]
director = pd.Series(data_winter['director'].str.cat(sep='|').split('|'))
director.value_counts(ascending=False)
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [396]:
data['film_len'] = data.apply(lambda row: len(row['original_title']),axis=1)
companies = {}
films = {}
companies_len = {}

for dit_list in data[['production_companies','film_len']].to_dict('records'):
    for company in dit_list['production_companies'].split('|'):
        if company in companies:
            companies[company] += dit_list['film_len']
        else:
            companies[company] = dit_list['film_len']
        if company in films:
            films[company] += 1
        else:
            films[company] = 1   
            
for index in companies:
    companies_len[index] = companies[index]/films[index]
    
max(companies_len.items(), key=operator.itemgetter(1))[0:]
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [397]:
data['overview_words'] = data.apply(lambda row: len(row['overview'].split()),axis=1)
companies = {}
films = {}
companies_len = {}

for dit_list in data[['production_companies','overview_words']].to_dict('records'):
    for company in dit_list['production_companies'].split('|'):
        if company in companies:
            companies[company] += dit_list['overview_words']
        else:
            companies[company] = dit_list['overview_words']
        if company in films:
            films[company] += 1
        else:
            films[company] = 1   
            
for index in companies:
    companies_len[index] = companies[index]/films[index]
    
max(companies_len.items(), key=operator.itemgetter(1))[0:]
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [400]:
head = data['imdb_id'].nunique() // 100
data_sort = data.sort_values('vote_average',ascending=False)
display(data_sort['original_title'].head(head))
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [419]:
ch_1 = ['Johnny Depp', 'Helena Bonham Carter']
ch_2 = ['Ben Stiller','Owen Wilson']
ch_3 = ['Vin Diesel','Paul Walker']
ch_4 = ['Adam Sandler','Kevin James']
ch_5 = ['Daniel Radcliffe','Rupert Grint']
ch_dict = {}

for dit_list in data[['cast','imdb_id']].to_dict('records'):
    ch = dit_list['cast'].split('|')
    
    if set(ch_1).issubset(ch):
   
        if 'ch_1' in ch_dict:
            ch_dict['ch_1'] += 1
        else:
            ch_dict['ch_1'] = 1
   
    elif set(ch_2).issubset(ch):
     
        if 'ch_2' in ch_dict:
            ch_dict['ch_2'] += 1
        else:
            ch_dict['ch_2'] = 1
    
    elif set(ch_3).issubset(ch):
        
        if 'ch_3' in ch_dict:
            ch_dict['ch_3'] += 1
        else:
            ch_dict['ch_3'] = 1 
            
    elif set(ch_4).issubset(ch):
        
        if 'ch_4' in ch_dict:
            ch_dict['ch_4'] += 1
        else:
            ch_dict['ch_4'] = 1  
            
    elif set(ch_5).issubset(ch):
        
        if 'ch_5' in ch_dict:
            ch_dict['ch_5'] += 1
        else:
            ch_dict['ch_5'] = 1 
    else:
        continue
    
max(ch_dict.items(), key=operator.itemgetter(1))[0:]          
answers['27'] = 'Daniel Radcliffe & Rupert Grint '

# Submission

In [420]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint '}

In [421]:
# и убедиться что ни чего не пропустил)
len(answers)

27